<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">SPEAK OUT LOUD!</h1>
      </div>
      <div class="modal-body">

        <%= simple_form_for(story) do |f| %>
          <%= f.input :plot, as: :text, :input_html => {:rows => 5}, label: 'Do you want to share your story?' %>
          <%= f.input :location, label: 'Where did it happen?', input_html: { data: { geocoder_target: "address" } },
                       wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
          <%= f.input :when, label: 'When did it happen?' %>

      </div>
      <div class="modal-footer">
          <%= f.submit "POST", class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
